.form-group {
  width: 100%;
}
.jumbotron{
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1000px;
  margin-left: 50px;
  margin-right: 50px;
}
#quote1{
  display: none;
}

#quote2{
  display: none;
}

#quote3{
  display: none;
}

#quote4{
  display: none;
}

#quote5{
  display: none;
}
